@keyframes shake {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(-8px);
  }
  50% {
    transform: translate(8px);
  }
  75% {
    transform: translate(-8px);
  }
  100% {
    transform: translate(0);
  }
}

.wrapper {
  margin-top: 10px;
  text-align: initial;
}

.header {
  display: flex;
  justify-content: space-between;

  & label,
  & button {
    margin: 10px 0 10px 8px;
    display: block;
  }

  & label {
    font-size: 1.4rem;
    font-weight: 600;
  }

  & button {
    cursor: pointer;
    font-weight: 500;
    opacity: 0.7;
    font-size: 1.3rem;
    text-decoration: underline;
  }
}

.inputWrap {
  position: relative;
  background: #fff;
  border: 1.5px solid #dee3e9;
  border-radius: 44px;
  overflow: hidden;
  height: 44px;
  display: flex;

  &--error {
    border-color: #f33a58;
    background-color: #ff00001a;
  }

  &--disable {
    background: #16182329;
  }

  & input {
    display: block;
    width: 100%;
    padding: 12px 42px 12px 20px;
    border: none;
    outline: none;
    font-size: 1.4rem;
    background-color: transparent;
  }
}

.rightIcon {
  display: flex;
  position: absolute;
  top: 50%;
  right: 18px;
  translate: 0 -50%;
  color: #666;

  & svg {
    width: 16px;
    height: 14px;
    flex-shrink: 0;
  }

  &--error {
    color: #f33a58;
    animation: shake 0.5s ease-in-out;
  }
}

.message {
  margin: 0px 0 0px 8px;
  padding: 8px 0;
  display: block;
  color: #f33a58;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
}

.rightButton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  min-width: 140px;
  margin: 1px;
  border-radius: 44px;
  font-size: 1.4rem;
  font-weight: 600;
  white-space: nowrap;

  color: #fff;
  background: #f05123 linear-gradient(to right bottom, #ff8f26, #f05123);

  &--disable {
    color: #757575;
    background: #ccc;
    cursor: not-allowed;
  }

  & span {
    font-variant-numeric: tabular-nums;
  }
}
