.wrapper {
  --weak: #d43031;
  --medium: #faa61b;
  --strong: #02875a;
  padding: 10px 4px;
}

.levels {
  display: flex;
  gap: 4px;

  & div {
    flex: 1;
    height: 5px;
    border-radius: 4px;
    background-color: #e1e4eb;
  }
}

.level {
  &-0,
  &-1 {
    background-color: var(--weak) !important;
  }

  &-2 {
    background-color: var(--medium) !important;
  }

  &-3 {
    background-color: var(--strong) !important;
  }
}

.message {
  padding: 8px 0;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: right;

  &-level {
    &-0,
    &-1 {
      color: var(--weak);
    }

    &-2 {
      color: var(--medium);
    }

    &-3 {
      color: var(--strong);
    }
  }
}
